body {
  background: rgb(224, 133, 133);
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #689abb;
  margin-top: 0px;
  margin-bottom: 8px ;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #689abb;
  margin-bottom: 8px;
  padding: 16px 8px;

}

.button-container {
  background: #689abb;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px 8px;
}